@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Roboto";
	background-color: #000;
	margin: 0;
}

.wrapper{
	margin: 0 auto;
	overflow: hidden;
}

.page-header{
	background: #050505;
	background-size: cover;
	box-shadow: 10px 5px 50px #000;
	float: left;
	height: 75px;
	padding: 10px 2%;
	text-align: center;
	vertical-align: center;
	width: 100%;
	z-index: 10;
}

.page-title{
	color: #2ECC71;
	font-family: 'Press Start 2P', cursive;
	font-weight: 300;
	margin: 20px 0;
}

.playlist-title{
	color:#2ECC71;
	font-family: 'Roboto';
	font-weight: 300;
	margin: 0 3%;
	position: relative;
	text-align: left;
	width: 100%;
}

.playlist-container{
	background-color: #050505;
	float: left;
	height: 500px;
	overflow: scroll;
	width: 25%;
}

.songs-container{
	margin: 10px;
}

.song-item{
	border: 1px solid rgba(46, 204, 113, 0.5);
	height: 50px;
	list-style: none;
	text-align: center;
	width: 100%;
}

.song-item:hover{
	background-color: #333;
}

.song-item p{
	color: #f6f6f6;
	display: inline-block;
	font-size: 18px;
	margin-top: 15px;
}

.song-cover{
	background-color: #090909;
	background-position: center;
	background-size: cover;
	filter: blur(5px);
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	z-index: -1;

	-webkit-filter: blur(20px);
	-moz-filter: blur(20px);
	-o-filter: blur(20px);
	-ms-filter: blur(20px);
	filter: blur(20px);
}

.cover{
	border-radius: 50%;
    height: auto;
    margin: 1% 15% 0px;
    width: 40%;
}

.song-name{
	background-color: #050505;
	float: left;
	height: 50px;
	padding: 20px 0;
	padding: 10px 1%;
	text-align: center;
	width: 100%;
}

.song-name p{
	color: #2ECC71;
	font-size: 24px;
}

.player-bar{
	background-color: #333;
	border: 1px solid #2ECC71;
	float: left;
	height: 175px;
	width: 100%;
}

.player-controls-container{
	height: 100px;
	padding: 25px 2%;
	text-align: center;
	width: 100%;
}

button{
	border: none;
	background: none;
	color: #f2f2f2;
	font-size: 18px;
	margin: 0 1%;
	width: 3%;
}

button.active{
	color:  #2ECC71;
}

button:hover{
	color:#2ECC71;
}

.volume-control{
	float: left;
	margin: 30px 1%;
	width: 20%;
}

.volume-control span{
	color: #f2f2f2;
}

.mute-btn{
	margin: 0 2%;
	text-align: center;
	width: 10%;
}

.volume-bar{
	border: none;
	background-color: #2ECC71;
}

.current-time{
	border: none;
	color: #2ECC71;
	margin: 10px 1%;
	width: 60%;
}

.timing{
	width: 10%;
}