*{
	margin: 0;
	padding: 0;
}
html{
	font-size: 10px;
}

body{
	background-color: $section-color-2;
	font-family: $text;
}

a{
	text-decoration: none;
}

.wrapper{
	@include positioning;
}

.section{
	@include positioning;
	overflow: hidden;
}

.section-title{
	@include font-size(48);
	color: $font-main-color;
	font-family: $title;
	font-weight: 200;
	margin: 200px 0 50px;
	text-align: center;
	text-transform: capitalize;
	width: 100%;
}