.about{
	background-color: $section-color-1;
}

.about-me{
	@include font-size(24);
	@include paragraph;
	margin: 50px auto 100px;

	@media screen and (max-width: 1023px) {
		@include font-size(20);
		width: 90%;
	}
}

.profile-photo{
	display: block;
	margin: 0 auto;
	width: 20%;

	@media screen and (max-width: 1023px) {
		width: 30%
	}

	@media screen and (max-width: 619px) {
		width: 35%
	}

	@media screen and (max-width: 480px) {
		width: 40%
	}
}

.resume-link{
	@include font-size(18);
    background-color: $section-color-2;
    color: $font-main-color;
    font-family: "Roboto";
    font-weight: 200;
    display: block;
    margin: 50px auto;
    padding: 15px;
    text-align: center;
    width: 30%; 
}