.contact{
    background-color: $section-color-2
}

.contact-list{
	margin: 0 auto 150px;
	overflow: hidden;
	width: 85%;
}

.contact-item{
	background-color: rgba(255, 255, 255, 0.1);
    @include font-size(18);
    float: left;
    list-style: none;
    height: 250px;
    margin: 15px .5%;
    overflow: hidden;
    padding: 10px .5%;
    text-align: center;
    width: 31%;

    img{
    	display: inline-block;
    	height: auto;
    	margin: 20px auto;
    	width: 30%;
    }

    a, address{
        @include font-size(18);
    	color: $font-main-color;
    	display: inline-block;
        font-weight: 100;
    	margin: 20px auto;
    	text-align: center;
    	text-decoration: none;
    	width: 90%;

        @media screen and (max-width: 679px){
            @include font-size(24);
        }
    }

    @media screen and (max-width: 679px) {
        height: 300px;
        width: 99%;
    }
}