footer{
	@include positioning;
	background-color: rgba(0,0,0,0.5);
	padding: 5px 0;
}

.social{
	margin: 30px auto;
	overflow: hidden;
	text-align: center;
	width: 85%
}

.social-item{
	float: left;
	list-style: none;
	width: 33%;
}

.pinterest-icon path{
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    &:hover{
    	fill: #cb2027;
    }
}

.github-icon path{
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    &:hover{
    	fill: #333;
    }
}

.linkedin-icon path{
	-webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;

    &:hover{
    	fill: #0077B5;
    }
}

.copy-right{
	color: $font-main-color;
	display: inline-block;
	@include font-size(18);
	margin: 30px 0;
	text-align: center;
	width: 100%
}