header{
	align-items: center;
	background-image: url(../img/frailes.jpg);
	background-size: cover;
	display: flex;
	float: left;
	height: 100vh;
	padding-top: 150px;
	vertical-align: middle;
	width: 100%;
}

.main-title{
	font-size: 100px;
    font-size: 10rem;
    color: #f2f2f2;
    font-family: $title;
    font-weight: 200;
    margin: 0 auto;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 3px 3px 0 #3A6F93;
    width: 90%;
}