.my-work{
	background-color: $section-color-2;
}

.work-list{
	margin: 100px auto 150px;
	overflow: hidden;
	text-align: center;
	width: 75%;
}

.work-item{
	@include list-item;
    background-size: cover;
    height: 250px;
    margin: 3px .5%;
    overflow: hidden;
    width: 32%;

	&:hover{
		.work-info{
			display: inline-block;
			height: 100%;
			width: 100%;
		}
	}

	@media screen and (max-width: 979px) {
		width: 49%;
	}

	@media screen and (max-width: 639px) {
		height: 300px;
		margin: 3px 0;
		width: 100%;
	}

	@media screen and (max-width: 479px) {
		height: 250px;
	}

}

.work-info{
	background-color: rgba(0, 0, 0, 0.8);
	height: 0;
	overflow: hidden;
	transition: height .35s linear;
	width: 0;
	

	h1{
		color: $font-main-color;
		font-weight: 200;
		margin: 30px 0;
		transition: width 1s linear;
	}

	.work-btn{
		background-color: rgba(58, 111, 147, .6);
		border: none;
		display: inline-block;
		color: #f2f2f2;
		font-size: 18px;
		margin: 35px auto;
		padding: 10px 1%;
		transition: width 1s linear;
		width: 60%;
	}
}

.item-1{
	background-image: url(../img/weatherApp.png);
}

.item-2{
	background-image: url(../img/toDo.png);
}

.item-3{
	background-image: url(../img/iluminada.png);
}

.item-4{
	background-image: url(../img/twish.png);
}

.item-5{
	background-image: url(../img/audioPlay.png);
}

.item-6{
	background-image: url(../img/auditorio.png);
}