.nav{
	background-color: rgba(0,0,0,0.3);
	float: left;
	height: 75px;
	position: fixed;
	-moz-position: fixed;
	-webkit-position: fixed;
	position: fixed;
	width: 100%;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;
	z-index: 15;

	&:hover{
    	background-color: darken($section-color-2, 5%);
    }
}

.logo,{
	display: inline-block;
    float: left;
    height: 50px;
    margin: 12px 2% 0;
    width: 125px;

	img{
		height: 100%;
		width: 100%;
	}
}

.navbar{
	float: left;
	height: 100%;
    width: 750px;

    @media screen and (max-width: 1000px){
		background-color: rgba(29, 56, 74, 0.95);
		box-sizing: border-box;
		float: right;
		margin: 0px;
		width: 100%;
		height: 0;
		overflow: hidden;
		position: absolute;
		top: 75px;
		transition: height 0.5s linear 0s;
		right: 0px;
		padding: 0px;
    }
}

.expanded{
	height: 250px;
}

.show-menu-icon{
	display: none;

	@media screen and (max-width: 1000px){
		color: #f2f2f2;
		display: inline-block;
		float: right;
		font-family: "Josefin Slab";
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 6px;
		height: 22px;
		margin: 15px 2%;
		padding: 5px;
		text-align: center;
		width: 100px;
		border-right: 3px solid #c6c6c6;
		border-bottom: 3px solid #c6c6c6;
		border-radius: 5px;
	}
}

.navbar-item{
	background-color: transparent;
	float: left;
	list-style: none;
	height: 50px;
	margin: 0;
	padding-top: 25px;
	text-align: center;
	width: 150px;
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out;

	a{
		border: none;
		color: $font-main-color;
		@include font-size(16);
		font-family: $text;
		font-weight: lighter;
		text-decoration: none;
		text-transform: capitalize;

		@media screen and (max-width: 1000px){
			@include font-size(24);
		}
	}

	&:hover{
		background-color: rgba(0,0,0,.2);
	}

	@media screen and (max-width: 1000px){
		float: none;
		margin: 0px;
		box-sizing: border-box;
		padding: 10px 0px;
		border-bottom: 3px solid #47505A;
		width: 100%;
    }
}