.nav{
	background-color: rgba(0,0,0,0.3);
	display: inline-block;
	float: left;
	height: 75px;
	position: fixed;
	-moz-position: fixed;
	-webkit-position: fixed;
	position: fixed;
	width: 100%;
}

.logo,{
	display: inline-block;
    float: left;
    height: 50px;
    margin: 12px 2% 0;
    width: 125px;

	img{
		height: 100%;
		width: 100%;
	}
}

.navbar{
	float: left;
	height: 100%;
    width: 750px;

    @media screen and (max-width: 1000px){
		background-color: rgba(29, 56, 74, .95);
		box-sizing: border-box;
		float: right;
		margin: 0;
		padding: 75px 0px 0 0;
		width: 0;
		height: 436px;
		position: absolute;
		top: 75px;
		transition: width .5s linear; 
		right: 0px;
    }
}

.show-menu-check{
	display: none;

	&:checked + .navbar{
		width: 80%;
	}
}

.show-menu-icon{
	display: none;

	@media screen and (max-width: 1000px){
		color: #f2f2f2;
		display: inline-block;
		float: right;
		font-family: "Josefin Slab";
		font-size: 24px;
		font-weight: bold;
		letter-spacing: 6px;
		height: 40px;
		margin: 15px 2%;
		padding: 5px;
		text-align: center;
	    width: 100px;
	}
}

.navbar-item{
	float: left;
	list-style: none;
	height: 50px;
	margin: 0;
	padding-top: 25px;
	text-align: center;
	width: 150px;

	a{
		border: none;
		color: $font-main-color;
		@include font-size(16);
		font-family: $text;
		font-weight: lighter;
		text-decoration: none;
		text-transform: capitalize;

		@media screen and (max-width: 1000px){
			@include font-size(24);
		}
	}

	&:hover{
		background-color: rgba(0,0,0,.2); 
		-webkit-transition: all 1s ease-in-out;
		-moz-transition: all 1s ease-in-out;
		-ms-transition: all 1s ease-in-out;
		-o-transition: all 1s ease-in-out;
		transition: all 1s ease-in-out;
	}

	@media screen and (max-width: 1000px){
		float: none;
		margin: 0;
		box-sizing: border-box;
		padding: 20px 0px;
		border-bottom: 3px solid #47505A;
		width: 100%;
    }
}