.skill-list{
	color: $font-main-color;
	margin: 0 auto 50px;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
	width: 85%;
}

.skill-item{
	background-color: rgba(255, 255, 255, 0.1);
    @include font-size(18);
    float: left;
    list-style: none;
    padding: 25px 0;
    margin: 15px 1%;
    width: 31%;
}