@import url( http://fonts.googleapis.com/css?family=Oswald );

body {
	background-size: 100%;
	color: #fff;
	font-family: sans-serif;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap;
	justify-content: space-between;
	height: 70px;
	width: 100%;
}

.title {
	margin-left: 8%;
}

.main-nav {
	margin-top: 26px;
	width: 26%;
}

.nav-item {
	color: white;
	font-size: 20px;
	margin-left: 24px;
}

.nav-item:hover {
	color: #ff9600;
	text-decoration: underline;
}

/* ========================== first page ========================= */

.list_tickets_page {
	background: url( ../img/auditorio-interior.jpg );
}

.table-container-list {
	background-color: rgba( 0, 0, 0, 0.50 );
	margin-left: 18%;
	margin-top: 3%;
}


.btn-buy-ticket {
	background-color: #ff9600;
	border-radius: 4px;
	color: #000;
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0;
	opacity: 0.8;
	padding: 6px 12px;
	text-decoration: none;
	transition: all 0.1s ease;
}

.btn-buy-ticket:hover{
	background-color: #5cb85c;
	color: #000;
	text-decoration: none;
}

/* ========================== second page ========================= */

.buy_page{
	background: url( ../img/auditorio1.jpg );
	background-size: cover;
}

label{
	font-weight: 100;
}

h1{
	font-family: Oswald;
	font-size: 32px;
}

span{
	color: #ff9600;
	font-family: Oswald;
	font-size: 32px;
}

h2{
	font-family: Oswald;
}

.table-container{
	background-color: rgba( 0, 0, 0, 0.50 );
	margin-top: 40px;
}

table{
	border-collapse: collapse;
	border-color: #404040;
	color: #fff;
	font-family: sans-serif;
	font-size: 1.2em;
	font-weight: 100;
	text-align: center;
}

table tr th{
	border: none;
	text-align: center;
}

.table-row-header {
	border: none;
}

button{
	background-color: rgba( 10, 10, 10, 0.5 );
	border: 1px solid #fff;
}

input{
	opacity: 0.8;
}

select{
	opacity: 0.8;
}

.info-event{
	font-family: Oswald;
	font-size: 2em;
	margin-left: 1%;
	padding: 1%;
}

/* ========================== third page ========================= */


.thanks-msj{
/*	background: url(../img/background-opt.jpg);*/
	background-color: rgba( 0, 0, 0, 0.6 );
	font-family: Oswald;
	font-size: 2em;
	margin: 1% 0 0 1%;
	overflow: hidden;
	padding: 1%;
}